body {overflow-x: hidden;}

#spoleft, #sporight {
	height: 1000px;
	width: 560px;
	overflow: hidden;
}
#spoleft {
	float: left;
	margin: 0px 0 0 -560px;
	background: #e2d2b1;
	background-image: url('http://hpt-test.herokuapp.com/wall_left.jpg'); /* fallback */
	background: -webkit-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -webkit-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%), url('http://hpt-test.herokuapp.com/wall_left.jpg') right top; /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_left.jpg') right top; /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%), url('http://hpt-test.herokuapp.com/wall_left.jpg') right top; /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_left.jpg') right top; /* IE10 */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_left.jpg') right top; /* Opera 11.10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_left.jpg') right top; /* W3C */
}
#sporight {
	float: right;
	margin: 0px -560px 0 0;
	background: #e2d2b1;
	background-image: url('http://hpt-test.herokuapp.com/wall_right.jpg'); /* fallback */
	background: -webkit-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -webkit-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%), url('http://hpt-test.herokuapp.com/wall_right.jpg') right top; /* Saf4+, Chrome */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_right.jpg') right top; /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%), url('http://hpt-test.herokuapp.com/wall_right.jpg') right top; /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -ms-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_right.jpg') right top; /* IE10 */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_right.jpg') right top; /* Opera 11.10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%), linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%),  url('http://hpt-test.herokuapp.com/wall_right.jpg') right top; /* W3C */
}